/**
 * Elijah Cobb
 * elijah@elijahcobb.com
 * elijahcobb.com
 * github.com/elijahjcobb
 */

@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.App {

	height: 100vh;

	.main {
		height: calc(100% - 48px - 62px);
	}

	.editor {
		width: 100%;
		height: 100%;
		background: none;
		color: $white;
		font-family: 'Roboto Mono', monospace;
		font-size: 14px;
		border: none;
		outline: none;
		padding: 8px;
		resize: none;
	}

	.bottomBar {
		background: $black;
		width: 100%;
		height: 62px;
		display: flex;
		align-items: center;
		justify-content: space-around;

		button {
			margin: 0 10px;
			padding: 10px 10px;
			background: $blue;
			border: none;
			font-weight: bold;
			font-size: 1em;
			color: $black;
			text-align: center;
			transition: all 250ms ease-in-out;
		}

		.compile {
			background: $green;
		}

		button:hover {
			border-radius: 10px;
			cursor: pointer;
			transform: scale(1.1);
		}
	}
}
